

//media query breakpoints
$breakpoint-small: "only screen and (min-width: 550px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1000px)";

//color palette
$black: rgba(34, 34, 34, 1);
$white: rgba(255, 255, 255, 1);
$slate-blue: rgba(61, 90, 128, 1);
$baby-blue: rgba(152, 193, 217, 1);
$light-powder-blue: rgba(224, 251, 252, 1);
